body{
    line-height: 1.2rem;
    margin: 0;
    text-transform:capitalize ;
}

#container{
    display: grid;
    grid-template-rows: auto auto;
}

#first-part{
    z-index: 5;
    background-color: #526D82;
    padding: 3%;
}

.img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 1rem;
}

.new{
    background-color: #9DB2BF;
}

#second-part{
    background-color: #fff;
    width: 100%;
    height: calc(auto - 120px);
    text-align: center;
    color:  #FCA311;
}




.child{
    padding: 20px;
    justify-content: center;
}

.child h2 a{
    color:#27374D;
    padding:5px 20px;
    font-size: 2rem;
    border-radius: 20px;
}


.technologis{
    text-align: left;
    font-size: 3rem;
}

.block{
    display: block;
    text-align: center;
}

img + p,
.list{
 font-size: 2rem;
 line-height: 2.5rem;
 color: black;
 padding: 0 20%;    
}

.list{
    text-align: left;
}

.tech{
    color: black;
    list-style: none;
    width: 20%;
    margin: auto;
    margin-bottom: 2em;
}

.i{
    float: left;
}

.font{
    font-size: 2rem;
    color: #14213D;
}

.frame{
   width:200px;
   height:200px;
   margin: 1.5rem;
   transition: all 0.3s ease-in-out;
}

.frame:hover{
    width:250px;
    height:250px;
    margin: 1rem;
}

pre{
    color:  #14213D;
    text-transform: capitalize;
}



@media screen and (max-width:960px){

    body{
        line-height: 1.5rem;
    }


.img{
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

.child{
    margin-bottom:1.2em;
}

.child h2 a{
    padding:5px 20px;
    font-size: 2rem;
}


.tech{
    width: 60%;
    margin: auto;
    margin-bottom: 2em;
}

.frame{
    width:150px;
    height:150px;
    margin: 1rem;
 }

 .frame:hover{
    width:200px;
    height:200px;
    margin: 0.8rem;
}

.about-paragraph{
    text-align: center;
}

img + p,
.list{
 font-size: 1.5rem;
 line-height: 2rem;
 color: black;
 padding: 0 5%;    
}

.list{
    text-align: left;
}

}